body{
    background:linear-gradient(80deg, rgb(0, 191, 255),rgb(0, 66, 88), black);
    color: white;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, sans-serif;
}
header{
    background:#1e1e1e;
    position:fixed;
    width:100%;
    top:0px;
    z-index:100;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: right;
    padding-top: 30px;
    padding-right: 10px;
}

.logo{
    color:#00bcd4;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00bcd4;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:end;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:3rem;
}

.hero span{
    color:#00bcd4;
}

.hero p{
    margin:15px 0;
    font-size:1.2rem;
}

.profile-pic {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    object-fit: cover;
}


.btn{
    display:inline-block;
    padding:12px 25px;
    background:#00bcd4;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

section{
    padding:100px 10%;
    text-align: center;
}

.profile-card {
    width: 350px;
    background: rgba(2, 79, 100, 0.436);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: scale 0.4s;
    margin: auto;
    display: block;
    margin-top: 30px;
}

.profile-card:hover{
    scale: 1.1;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.role {
    color: #4f7df3;
    font-weight: 600;
    font-size: 20px;
    height: 30px;
}

.bio {
    color: #ffffff;
    margin-bottom: 20px;
}

.education-card{
    background:#1e1e1e;
    padding:20px;
    margin-bottom: 40px;
    transition:0.4s;
}

.education-card:hover{
    transform:translateY(-10px);
}

#education h2{
    margin-bottom: 30px;
}

#skills h2{
    margin-bottom: 20px;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    color: rgb(255, 255, 255);
}

.skill{
    background:#00bcd4;
    padding:15px 25px;
    border-radius:30px;
    transition: background-color 0.4s;
}

.skill:hover{
    background-color: #017b8b81;
}

.skill a{
    text-decoration: none;
    color: #ffffff;
}

@media(max-width:768px){

    .profile-pic{
        left: 50px;
        top: 300px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }

    nav{
        flex-direction:column; 
    }

    nav ul{
        margin-top:10px;
        align-items: right;
        display: flex;
        margin: auto;
        margin-right: 0px;
    }

    .hero h1{
        font-size:2rem;
    }

    section h2{
        padding-top: 40px;
    }
}