body{
    background:linear-gradient(80deg, rgb(0, 191, 255),rgb(0, 66, 88), black);
    color: white;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, sans-serif;
}
header{
    background:#1e1e1e;
    position:fixed;
    width:100%;
    top:0px;
    z-index:100;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: right;
    padding-top: 30px;
    padding-right: 10px;
}

.logo{
    color:#00bcd4;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00bcd4;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:end;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:3rem;
}

.hero span{
    color:#00bcd4;
}

.hero p{
    margin:15px 0;
    font-size:1.2rem;
}

.profile-pic {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    object-fit: cover;
}


.btn{
    display:inline-block;
    padding:12px 25px;
    background:#00bcd4;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

section{
    padding:100px 10%;
    text-align: center;
}

